body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //overflow: hidden;
  //height: 100%;
}

* {
  align-self: center;
  font-family: oxanium, sans-serif;
  user-select: none;

}

.list-item {
  border: 1px solid gainsboro;
  padding: 12px;
  border-radius: 8px;
  margin-top: 12px;

  &:hover {
    cursor: pointer;
    border-color: gray;
  }
}

#__next {
  width: 100%;
}

//
@font-face {
  font-family: oxanium;
  src: url('/Oxanium/Oxanium-Light.ttf');
}
